@import "grid";
.grid {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 250px 100px 250px;
  grid-gap: 30px;
  :first-child {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  :nth-child(2),
  :nth-child(3) {
    grid-row: 1/3;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}
